<ul>
    <li class="midlaner">apple</li>
    <li class="midlaner">banana</li>
    <li class="toplaner">mango</li>
    <li class="midlaner">strawberry</li>
    <li class="toplaner">blueberry</li>
</ul>